@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:wght@300&display=swap');

body {
  height: 100vh;
  margin: 0;
  font-family: 'Sofia Sans', sans-serif;
  background: rgb(205, 205, 244);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.active button {
  background: brown;
  color: aliceblue;
}

.active > span {
  background-color: aliceblue;
}
